{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group">
        <label for="FormControlInput">Title</label>
        <input type="text" name="title" class="form-control" id="FormControlInput">
    </div>
    <div class="form-group" id="form">
        <div id='image-form'>
        <label>Image</label>
        <br>
        <input type="file" name="image-1">
        <br>
        </div>
        <button type="button" id="add-image" class="btn btn-info btn-sm mt-3 mb-3">Add Image Field</button>
    </div>
    <div class="form-group">
    <label for="Textarea1">Article</label>
    <textarea class="form-control" name="text" id="Textarea1" rows="5"></textarea>
    </div>
    <div class="form-group" align="center">
    <button type="submit" class="btn btn-primary">Post</button>
    <a href={% url 'share:list_posts' group %}><button type="button" class="btn btn-success">Show Posts</button></a>
    </div>
    </form>

</div>

<script>

let i = 1
document.getElementById('add-image').addEventListener('click', (event) => {
    i += 1
    if (i < 6) {
        document.getElementById('image-form').innerHTML += ` 
        <br>
            <input type="file" name="image-${i}">
        <br>`
        event.preventDefault
    } else {
        document.getElementById('form').innerHTML += `
        <div class="alert alert-danger" role="alert">
            Image Limit Reached 
        </div> 
        `
    }
})

</script>
{% endblock %}