{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="col-md-10 mx-auto">
        <h1 class="border border-success p-2 rounded-pill text-center">{{group.name}}</h1>
    </div>

    <div class="col-md-10 mx-auto buttons mt-5" align="center">
        <a href="{% url 'share:detail_group_user' group.id %}" id="users-btn" class="btn btn-outline-success col-md-3">Users</a>
        <a href="{% url 'share:list_posts' group.id %}" class="btn btn-outline-dark col-md-3 ml-5 disabled">Posts</a>
        <a href="{% url 'share:detail_group_wordwall' group.id %}" id="wordwall-btn" class="btn btn-outline-info col-md-3 ml-5">Word Wall</a>
    </div>

    {% if posts %}
        <div class="row row-cols-1 row-cols-md-3 mt-5 text-center">
        {% for post in posts %}
            <div class="col mb-4">
                <div class="card border border-success rounded">
                    <img src="{{post.1.image.url}}" class="card-img-top p-3" alt="ArticleImage">
                <div class="card-body">
                    <h5 class="card-title">{{post.0.title}}</h5>
                    <p class="card-text">{{post.2}}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="number" class="d-none" id="id" value={{post.0.id}}>
                        <button type="submit" id="like" class="btn btn-info mt-2">{{post.3}} Likes</button>
                        <a href={% url 'share:detail_post' post.0.id%}><button type="button" class="btn btn-dark ml-3 mt-2">Go To Post</button></a>
                    </form>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
    <div class="col-md-12 mt-5" align="center">
        <h1>Not Posts Yet</h1>
        <a href={% url 'share:create_post' group.id %}><button type="button" class="btn btn-outline-info col-md-5 mt-5">Create A Post!</button></a>
    </div>
    {% endif %}

</div>

<script>
const like_btns = document.querySelectorAll('#like')
for (const item of like_btns) {
    item.addEventListener('click', (event) => {
        console.log(event.path[2].childNodes[5].childNodes[3].name="index")
    })
}
</script>

{% endblock %}