{% extends 'base.html' %}

{% block content %}

<div class="container">

<div class="div text-center mb-5">
    <h1>{{post.title | title}}</h1>
</div>


<div class="row">
    {% for image in images %}
        <div class="col-md-4">
           <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
        </div>
    {% endfor %}
</div>

<div class="mt-5">
{% for comment in comments %}
    <p>{{comment}}</p>
{% endfor %}
</div>



<div class="mt-5">
<p>{{post.text}}</p>
</div>

</div>

{% endblock %}