{% extends 'base.html' %}

{% block content %}



    <div class="col-md-10 mx-auto" align="center">
        <a href="#" class="btn btn-info col-md-5 mx-auto" role="button" >Create a new Group</a>
        <h1 class="mt-5" style="text-align: center;"> Groups You Don't Follow </h1>
        <div class="members mt-5">
            <div class="text-center">
                {% if groups %}
                    <div class="row">
                        {% for group in groups %}
                            <div class="col-sm-4">
                                <div class="card border-success mt-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{{group.0}}</h5>
                                        <p class="card-text">Number Of Users: {{group.1}}</p>
                                        <a href="{% url 'share:join_group' group.0.id %}" class="btn btn-info">Click To Join</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2> No Groups </h2>
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}